{% extends 'layout.html.twig' %}
{% set active = 'project' %}

{% block content %}

    <h3>{{ 'Create new project'|trans }}</h3>
    <form action="{{ path('project') }}" method="post" novalidate {{ form_enctype(form) }} class="form-vertical">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Create'|trans }}</button>
        </div>
    </form>

{% endblock %}
